/*--------------------------------------------*/
/* 追加 ボタンCSS                              */
/*--------------------------------------------*/
.square_btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 1em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #ff7f7f;
    transition: .4s;
}

.square_btn>span{
    border-bottom: solid 2px #FFF;
    border-top: solid 2px #FFF;
}

 .square_btn:hover span {
    padding: 0.1em 0;
}

